body{
    background-color: aqua;
    
}

#outermost{
    border: 3px solid rgb(30, 30, 80);
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgb(43, 52, 226);
    text-align: center;
    padding: 20px;
    width:500px;
}

#inner1{
    background-color: rgb(49, 24, 100);
    box-shadow: 3px 3px 5px rgb(29, 176, 235);
    

}