#container{
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

button{
    font-size: 1.2em;
    background-color: rgb(0, 132, 255);
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 5px hsl(205, 100%, 50%);
    

}

button:hover{
    background-color: hsl(190, 100%, 50%);
}

button:active{
    background-color: hsl(195, 100%, 50%);

}

input{
    font-size: 1.5rem;
    text-align: center;
}

#diceresult{
    margin: 15px;
    
}

#diceimages{
    width: 150px;
    margin: 5px;
    
}