body{
    font-family: sans-serif,Arial;
    background-color: aqua;
    font-display: auto;

}

h1{
    color: orange;
}

form{
    background-color: rgba(47, 82, 255, 0.714);
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px purple;
}

#textbox{
    width: 60%;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid ;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 10px;
    background-color: pink;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 5px hsla(240, 100%, 50%, 0.703);
    padding: 5px;
    cursor: crosshair;
    font-size: 1.3em;


}

button:hover{
    background-color:rgb(237, 44, 76) ;
    font-size: 1.4em;
    box-shadow: 3px 3px 7px hsla(240, 100%, 50%, 0.703)
}

#result{
    font-size: 1.4em;
    font-weight: bold;
}